@model List<Vjezba.Model.Publisher>

    <h1>Publishers</h1>

    <p>
        <a asp-action="add">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Name</td>
                    <td>
                    <a href="@Url.Action("Edit", "Publisher", new { id = item.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", "Publisher", new { id = item.Id })">Delete</a>
                    </td>
                </tr>
        }
        </tbody>
    </table>
