@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:bold">Welcome to the "Game's review'"</h1>
    <p style="font-size:50px; font-style:italic">This Web was created as a project for class "Razvoj web aplikacija u ASP.NET MVC tehnologiji", made by Leon Baćani</p>
    <p>Check out our <button><a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="Games">Games</a></button> for review </p>

</div>
